.details {

}

.details .topper {
  align-items: center;
}

.details .topper .header {
  flex: 1;
  padding: 0 var(--horizontal-padding);
}

.details .topper .icon-close {
  position: relative;
  bottom: 2px;
  padding-right: var(--horizontal-padding);
}
.details .topper .icon-close:hover {
  filter: brightness(0.6);
}

.details .info {
  color: var(--primary-color);
  font-size: 12px;
}

.details .info .detail {
  margin: var(--vertical-padding) 0;
  line-height: 2;
}

.details .info .detail .key {
  min-width: 80px;
  flex-basis: 80px;
  color: var(--secondary-color);
}
