.workspace {

}

.workspace .topbar:first-child {
  z-index: 2;
}

.workspace .topbar {
  display: flex;
  position: fixed;
  width: 100%;

  flex-basis: auto;
  justify-content: center;
  background-color: var(--primary-background);

  z-index: 1;
}

.workspace .topbar .container {
    max-width: 840px;
}

.workspace .topbar .container > * {
  align-items: center;
}

.workspace .topbar .container .left {
  flex: 0 1;
}

.workspace .topbar .container .left .icon-noter {
  margin: 0 var(--horizontal-padding);
}

.workspace .topbar .container .left .separator-vertical {
  margin-left: var(--horizontal-padding);
}

.workspace .topbar .container .center {
  margin-left: calc(2 * var(--horizontal-padding));
  margin-right: calc(2 * var(--horizontal-padding));
}

.workspace .topbar .container .right {
  flex: 0 1;
}

.workspace .topbar .container .right .separator-vertical {
  margin-left: calc(2 * var(--horizontal-padding));
  margin-right: calc(2 * var(--horizontal-padding));
}

.workspace .topbar .container .right > .icon {
  margin: 0 var(--horizontal-padding);
}

.workspace .topbar .container .right > .icon {
  margin: 0 var(--horizontal-padding);
}

.workspace .toolbar-bar {
  position: fixed;
  top: 81px;
  padding: 0;
  background-color: #fafafd;
}
.workspace .toolbar-bar #toolbar {
  border: 0;
}

.workspace .details {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 275px;
  height: calc(100% - 81px - 41px);
  border-left-width: 1px;
  /* 4 * var(--vertical-padding) + 80px */
}

.workspace .details {
  transform: translateX(1px);
}

.workspace .space {
  display: flex;
  position: relative;
  padding: calc( 4 * var(--vertical-padding)) 0;
  padding-top: calc(4 * var(--vertical-padding) + 81px + 42px);
  justify-content: center;
}

.workspace .space .editor {
  /* position: absolute; */
  /* top: calc(50% + 40px); */
  /* left: 50vw; */
  min-height: calc(100% - 8 * var(--vertical-padding) - 80px);
  /* transform: translate(-50%, -50%); */
}
