.directory {

}

.directory .section .directory-header > * {
  display: inline-block;
}
.directory .section .directory-header > *:not(:first-child) {
  margin-left: 6px;
}

.directory .section.folders .flex-row,
.directory .section.notes .flex-row {
  flex-wrap: wrap;
}

.directory .space {
  overflow-y: scroll;
  position: relative;
  max-height: calc(100vh - 65px * 2);
}

.directory .space .controls-ordering {
  display: flex;
  position: absolute;
  top: calc(2 * var(--vertical-padding) + 18.6px - 14px);
  right: calc(2 * var(--horizontal-padding));
}

.directory .space .controls-ordering .button {
  padding: 6px 8px;
}

.directory .space .controls-ordering .button-ordering {
  overflow: visible;
}

.directory .space .controls-ordering .button-ordering .dropdown .button {
  font-family: var(--primary-font-family);
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.3px;
  color: var(--primary-color);
}

.directory .space .section .flex-row:last-child {
  flex-wrap: wrap;
}

.directory .space .card {
  display: inline-block;
  flex: 0 1 20%;
  max-width: 200px;
  min-width: 175px;
  margin: var(--vertical-padding) var(--horizontal-padding) var(--vertical-padding) 0;

  user-select: none;
}
.directory .space .card.selected {
  color: var(--purple);
  background-color: var(--purple-background);
  box-shadow: none;
}
.directory .space .card .dropdown .button {
  font-family: inherit;
  color: var(--primary-color);
}
.directory .space .card .flex-row {
  align-items: center;
}
.directory .space .card .icon {
  flex-basis: 24px;
}
.directory .space .card .name {
  overflow: hidden;
  flex: 1;
  min-width: 0;
  height: 100%;
  margin-left: var(--horizontal-padding);

  font-size: 13px;
  line-height: 1.5;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.directory .empty-directory {
  overflow: hidden;
  position: relative;
  flex: 1;
}

.directory .empty-directory .message {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 600px;
  height: 400px;
  background-image: url('/images/empty-directory.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  transform: translate(-50%, -50%);
}

.directory .empty-directory .message .text {
  position: absolute;
  top: 25%;
  left: 0px;
  width: 100%;
}
