.my-notes-view {

}

.my-notes-view .section.folders .card {
  display: inline-block;
  width: 200px;
  margin: var(--vertical-padding) var(--horizontal-padding) var(--vertical-padding) 0;
}
.my-notes-view .section.folders .card .flex-row {
  align-items: center;
}
.my-notes-view .section.folders .card .icon {
  flex-basis: 24px;
}
.my-notes-view .section.folders .card .name {
  overflow: hidden;
  flex: 1;
  min-width: 0;
  height: 100%;
  margin-left: var(--horizontal-padding);

  font-size: 13px;
  line-height: 1.5;
  white-space: nowrap;
  text-overflow: ellipsis;
}
