.profile-group {
  font-size: 0;
  white-space: nowrap;
}

.profile-group .container {
  display: inline-block;
}

.profile-group .container .profile {
  border: solid 4px #fff;
  box-shadow: none;
}
