.button {
  position: relative;
  overflow: hidden;
  display: flex;
  padding: 14px var(--horizontal-padding);
  border-radius: var(--small-border-radius);
  align-items: center;

  box-shadow: var(--med-box-shadow);
  background: #131317;
  color: #ffffff;
  font-family: var(--secondary-font-family);
  font-size: 14px;
  letter-spacing: 0.3px;

  transition: all var(--fast-transition);
  user-select: none;
  cursor: pointer;
}
.button.with-icon {
  padding-right: calc(2 * var(--horizontal-padding));
}
.button.small {
  padding: 10px var(--horizontal-padding);
}
.button:hover {
  box-shadow: var(--large-box-shadow);
  filter: brightness(1.05);
}
.button:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all var(--fast-transition);
}

.button.align-left {
  justify-content: left;
}
.button.align-center {
  justify-content: center;
}
.button.align-right {
  justify-content: right;
}

.button.uppercase {
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.button.transparent {
  box-shadow: none;
  border-radius: var(--large-border-radius);
  background-color: transparent;
  color: inherit;

  letter-spacing: 0;
}
.button.transparent:hover {
  filter: none;
  box-shadow: none;
  background-color: rgba(180, 180, 183, 0.12);
}

.button.purple {
  background: var(--primary-gradient);
}

.button .icon:first-child {
  margin-right: var(--horizontal-padding);
  transform: translateY(-5%);
}
